footer {
    position: absolute;
    width: 100vw;
    height: 17vh;
    background-color: #222;
}
footer > a {
    display: block;
    transform: translateY(18px);
    margin-top: 1vh;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8vw;
    margin-left: 10vw;
    margin-bottom: 5vh;
}
footer > a > span {
    display: inline-block;
    transform: translateY(-3px);
}
footer > p {
    color: rgb(231, 231, 231);
    margin-top: 2vh;
    font-size: 0.9vw;
    margin-left: 10vw;
}
footer > p:last-child {
    margin-top: 0.5vh;
}
footer span {

    color: rgba(218, 218, 218, 0.3);
}
footer> h5 {
    color: rgb(231, 231, 231);
}